# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# Supabase Client Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Supabase Server Admin Configuration (Service Role Key for server side authentication)
SUPABASE_SERVICE_ROLE_KEY=
